[Unit]
Description=Wait for a connection to Pelion and create credentials
Wants=edge-core.service
After=edge-core.service

[Service]
Restart=on-failure
RestartSec=5s
RemainAfterExit=true
ExecStart=EDGE_SCRIPTS/identity-tools/generate-identity.sh 9101 EDGE_DATA/edge_gw_config

[Install]
WantedBy=network.target
