[Unit]
Description="Device OS watchdog reseting service"

[Service]
Restart=always
ExecStartPre=-/usr/bin/pkill deviceOSWD
ExecStart=/wigwag/system/bin/deviceOSWD -w 300 -m 90 -s /var/deviceOSkeepalive
ExecStop=sh -c "echo -e stop | socat unix-sendto:/var/deviceOSkeepalive STDIO"

[Install]
WantedBy=basic.target
