[Unit]
Description=Translation of the wwrelay init script

[Service]
Restart=on-failure
RestartSec=5s
RemainAfterExit=true
ExecStart=/wigwag/system/bin/wwrelay

[Install]
WantedBy=network.target
