unixLogSocket: /tmp/grease.socket
sysLogSocket: /dev/log
linuxKernelLog: true
httpUnixSocket: /tmp/maestroapi.sock
configDBPath: /userdata/etc/maestroConfig.db
clientId: "{{ARCH_SERIAL_NUMBER}}"
network:
    disable: true
processes:
    reaper_interval: 1500
platform_readers:
  - platform: "fsonly"
    params:
      identityPath: "/userdata/edge_gw_config/identity.json"
gateway_capabilities:
  edge_core_socketpath: "/tmp/edge.sock"
  lwm2m_objectid: 33457
  gateway_resources:
  - name: "urn:fid:pelion.com:log:1.0.0"
    enable: true
    config_filepath: "/etc/td-agent-bit/td-agent-bit.conf"
  - name: "urn:fid:pelion.com:terminal:1.0.0"
    enable: true
    config_filepath: "{{EDGE_ETC}}/pe-terminal/config.json"
  - name: "urn:fid:pelion.com:kaas:1.0.0"
    enable: true
    config_filepath: "/wigwag/system/var/lib/kubelet/kubeconfig"
var_defs:
   - key: "TMP_DIR"
     value: "/tmp"
   - key: "FOG_PROXY_ADDR"
     value: "gateways.local:8080"
   - key: "MAESTRO_RUNNER_DIR"
     value: "/wigwag/devicejs-core-modules/maestroRunner"
   - key: "LOCAL_DEVICEDB_PORT"
     value: 9000
   - key: "LOCAL_DATABASE_STORAGE_DIRECTORY"
     value: "/userdata/etc/devicejs/db"
   - key: "EDGE_ETC"
     value: "/wigwag/system/etc"
devicedb_conn_config:
    devicedb_uri: "http://localhost:{{LOCAL_DEVICEDB_PORT}}" #default uri
    devicedb_prefix: "configs.device" #default prefix
    devicedb_bucket: "lww" #default bucket
    relay_id: "{{ARCH_DEVICE_ID}}" #default relay id  
mdns:
  static_records:
   - name: "WigWagRelay"
     service: "_wwservices._tcp"  # normally something like https or ftp
     interfaces: "eth0"
     not_interfaces: "Witap0"
     port: 3131
     text:
      - "wwid={{ARCH_SERIAL_NUMBER}}"
     hostname: "wigwaggateway"
   - name: "WigWagRelay_{{ARCH_SERIAL_NUMBER}}"
     service: "_wwservices._tcp"  # normally something like https or ftp
     interfaces: "eth0"
     not_interfaces: "Witap0"
     port: 3131
     text:
      - "wwid={{ARCH_SERIAL_NUMBER}}"
     hostname: "{{ARCH_SERIAL_NUMBER}}"
symphony: # symphony system management APIs
    disable_sys_stats: true
    sys_stats_count_threshold: 15     # send if you have 15 or more stats queued
    sys_stats_time_threshold: 120000  # every 120 seconds send stuff, no matter what
    no_tls: true
    host: "gateways.local"
    url_logs: "http://{{FOG_PROXY_ADDR}}/relay-logs/logs"
    url_stats: "http://{{FOG_PROXY_ADDR}}/relay-stats/stats_obj"
    send_time_threshold: 120000       # set the send time threshold to 2 minutes
static_file_generators:
   - name: "devicedb"
     template_file: "/wigwag/etc/template/devicedb.template.conf"
     output_file: "/wigwag/etc/devicejs/devicedb.yaml"
   - name: "relayTerm"
     template_file: "/wigwag/etc/template/relayTerm.template.json"
     output_file: "{{EDGE_ETC}}/pe-terminal/config.json"
jobs:
   - job: "devicedb"
     immutable: true
     die_on_parent_death: true
     exec_cmd: "/wigwag/system/bin/devicedb"
     restart: true
     restart_limit: 5000
     restart_pause: 1
     exec_args:
        - "start"
        - "-conf=/wigwag/etc/devicejs/devicedb.yaml"
config_end: true