[Unit]
Descritpion=Maestro: Network, Config, DeviceJS manager

[Service]
Restart=always
RestartSec=5s
Environment="LD_LIBRARY_PATH=/wigwag/system/lib"
ExecStartPre=mkdir -p /userdata/etc/
ExecStart=env GODEBUG=madvdontneed=1 /wigwag/system/bin/maestro -config /wigwag/etc/run/maestro-config.yaml

[Install]
RequiredBy=network.target
