[Unit]
Descritpion=Maestro: Network, Config, DeviceJS manager
Requires=deviceos-wd.service
After=deviceos-wd.service

[Service]
Restart=Always
Environment="LD_LIBRARY_PATH=/wigwag/system/lib"
ExecStart=/wigwag/system/bin/maestro -config /wigwag/wwrelay-utils/conf/maestro-conf/edge-config-rpi-production.yaml

[Install]
RequiredBy=network.target
