# Local configuration for meta-rpi images
# Yocto Project 2.6 Poky distribution [thud] branch
# This is a sysvinit system

LICENSE_FLAGS_WHITELIST = "commercial WigWagCommericalDeviceOS WigWagCommericalDeviceJS WigWagCommericalDeviceProtocol"

DISTRO_FEATURES = "ext2 opengl usbhost ${DISTRO_FEATURES_LIBC}"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio"

PREFERRED_PROVIDER_jpeg = "libjpeg-turbo"
PREFERRED_PROVIDER_jpeg-native = "libjpeg-turbo-native"

PREFERRED_PROVIDER_udev = "eudev"
VIRTUAL-RUNTIME_init_manager = "sysvinit"

MACHINE_FEATURES_remove = "apm"

WKS_FILE = "console-image.wic"
IMAGE_FSTYPES = "${INITRAMFS_FSTYPES} wic"

DISTRO_FEATURES_append += " bluez5 bluetooth"

# Choose the board you are building for
#MACHINE="raspberrypi"
#MACHINE="raspberrypi0"
#MACHINE="raspberrypi0-wifi"
#MACHINE="raspberrypi2"
MACHINE = "raspberrypi3"
#MACHINE="raspberrypi-cm"
#MACHINE="raspberrypi-cm3"

# Choices are Image or zImage if NOT using u-boot (no u-boot is the default)
# Choices are uImage or zImage if using u-boot, though if you choose zImage
# with u-boot you will also have to change the boot script boot command
KERNEL_IMAGETYPE = "zImage"

DISABLE_OVERSCAN = "1"
ENABLE_UART = "1"
ENABLE_RPI3_SERIAL_CONSOLE = "1"
SERIAL_CONSOLES = "115200;ttyAMA0"
# SERIAL_CONSOLES_forcevariable = ""

#DL_DIR = "${HOME}/oe-sources"
#SSTATE_DIR = "/oe4/rpi/sstate-cache"
#TMPDIR = "/oe4/rpi/tmp-thud"

#initramfs setup
INITRAMFS_IMAGE = "ww-console-image-initramfs"
INITRAMFS_IMAGE_BUNDLE = "1"
BOOT_SPACE = "1073741"
INITRAMFS_MAXSIZE = "2600000"
#IMAGE_FSTYPES_pn-${INITRAMFS_IMAGE} = "${INITRAMFS_FSTYPES}"


DISTRO = "poky"
PACKAGE_CLASSES = "package_ipk"

# i686 or x86_64
SDKMACHINE = "x86_64"

# for no root passwd uncomment the following and comment the two extra user lines
#EXTRA_IMAGE_FEATURES = "debug-tweaks"

# for a root passwd, change redmbed below to your password
INHERIT += "extrausers"
EXTRA_USERS_PARAMS = "usermod -P redmbed root; "

# this will force root to change password on first login
INHERIT += "chageusers"
CHAGE_USERS_PARAMS = "chage -d0 root; "

PREFERRED_PROVIDER_node-native = "nodejs-native"
PREFERRED_PROVIDER_node = "nodejs"
PREFERRED_VERSION_nodejs = "8.11.2"
PREFERRED_VERSION_nodejs-native = "8.11.2"

USER_CLASSES = "image-mklibs image-prelink"
PATCHRESOLVE = "noop"
RM_OLD_IMAGE = "1"
INHERIT += "rm_work"
CONF_VERSION = "1"
