[Unit]
Description=coredns
Wants=kubelet.service
After=kubelet.service
Requires=network-online.target
After=network-online.target
BindsTo=sys-devices-virtual-net-kube\x2dbridge.device
After=sys-devices-virtual-net-kube\x2dbridge.device

[Service]
Restart=always
RestartSec=5
ExecStartPre=EDGE_BIN/kube-bridge-ready.sh
ExecStart=EDGE_BIN/launch-coredns.sh

[Install]
WantedBy=multi-user.target
