[Unit]
Description=coredns
Wants=kubelet.service
After=kubelet.service
Requires=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=5
ExecStartPre=EDGE_BIN/kube-bridge-ready.sh
ExecStart=EDGE_BIN/launch-coredns.sh

[Install]
WantedBy=multi-user.target
