[Unit]
Description=Kubelet
Wants=edge-proxy.service
After=edge-proxy.service

[Service]
Restart=always
RestartSec=5
ExecStart=/wigwag/system/bin/launch-kubelet.sh

[Install]
WantedBy=network.target
