[Unit]
Description=Edge Core
After=systemd-networkd-wait-online.service maestro.service

[Service]
Restart=always
RestartSec=5s
ExecStartPre=mkdir -p /userdata/mbed
ExecStartPre=chown developer -R /userdata/mbed
ExecStart=/wigwag/mbed/edge-core  --http-port 9101

[Install]
RequiredBy=network.target
