[Unit]
Description=relay terminal for remote terminals in pelion cloud
Wants=maestro.service
After=maestro.service

[Service]
Restart=always
RestartSec=5s
ExecCondition=sh -c '[ -f /userdata/edge_gw_config/identity.json ]'
ExecStart=/usr/bin/node /wigwag/wigwag-core-modules/relay-term/src/index.js start /wigwag/wigwag-core-modules/relay-term/config/config.json

[Install]
WantedBy=network.target
