[Unit]
Description=relay terminal for remote terminals in pelion cloud
After=maestro.service network-online.target

[Service]
Restart=always
RestartSec=5s
Environment=NODE_PATH=/wigwag/devicejs-core-modules/node_modules
ExecStart=/usr/bin/node /wigwag/wigwag-core-modules/relay-term/src/index.js start /wigwag/wigwag-core-modules/relay-term/config/config.json

[Install]
WantedBy=network-online.target
